<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
	<body>

		<div class="container">  
    		<h1>Welcome to Formula One Statistics</h1> 
    		<h4>Our website is dedicated to our favourite current Formula One Drivers. It uses open data to display statistics of their results in the seasons 2012-2017. It also provides a live Twitter stream of tweets in English, containing any mentions of Formula One. You can access the data sources in JSON format using our API. <h4>  
		</div><br>

		<div class="text-center">
			<div class="mapouter">
				<div class="gmap_canvas">
				<iframe width="700" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=university of aberdeen&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
				</div>
			</div>
		</div>
	</body>
</html>