<% provide(:title, "Home") %>
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="/charts/wins_pie_chart?utf8=✓&driver%5Bdriver_id%5D=1&year=2017">
      <img src="hamilton.jpeg" alt="Lewish Hamilton">
      </a>
    </div>

    <div class="item">
      <a href="/charts/wins_pie_chart?utf8=✓&driver%5Bdriver_id%5D=2&year=2017">
      <img src="alonso.jpeg" alt="Fernando Alonso">
      </a>
    </div>

     <div class="item">
      <a href="/charts/wins_pie_chart?utf8=✓&driver%5Bdriver_id%5D=3&year=2017">
      <img src="massa.jpeg" alt="Felipe Massa">
      </a>
    </div>

    <div class="item">
      <a href="/charts/wins_pie_chart?utf8=✓&driver%5Bdriver_id%5D=4&year=2017">
      <img src="vettel.jpeg" alt="Sebastian Vettel">
      </a>
    </div>

    <div class="item">
      <a href="/charts/wins_pie_chart?utf8=✓&driver%5Bdriver_id%5D=5&year=2017">
      <img src="hulkenberg.jpeg" alt="Nico Hulkenberg">
      </a>
    </div>

    <div class="item"> 
      <a href="/charts/wins_pie_chart?utf8=✓&driver%5Bdriver_id%5D=6&year=2017"> 
      <img src="perez.jpeg" alt="Sergio Perez">
      </a>
    </div>

    <div class="item">
      <a href="/charts/wins_pie_chart?utf8=✓&driver%5Bdriver_id%5D=7&year=2017"> 
      <img src="ricciardo.jpeg" alt="Daniel Ricciardo"> 
      </a>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>