<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @race.year %>
</p>

<p>
  <strong>Round:</strong>
  <%= @race.round %>
</p>

<p>
  <strong>Circuit:</strong>
  <%= @race.circuit_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @race.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @race.date %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
