<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th>Race</th>
      <th>Driver</th>
      <th>Constructor</th>
      <th>Grid</th>
      <th>Position</th>
      <th>Rank</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.race_id %></td>
        <td><%= result.driver_id %></td>
        <td><%= result.constructor_id %></td>
        <td><%= result.grid %></td>
        <td><%= result.position %></td>
        <td><%= result.rank %></td>
        <td><%= result.points %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
