<% provide(:title, "Column Charts") %>
<center>
	<h1>Column Charts</h1>
	<h2>Compare points scored over one season</h2>
	<%= form_tag("charts/drivers_points", method: "get") do %>
	<div class="form-style-6">
		<%= label_tag(:year, "Select Year:") %>
		<%= select_tag(:year, options_for_select({"2017" => "2017", "2016" => "2016", "2015" => "2015", "2014" => "2014", "2013" => "2013", "2012" => "2012"}), :prompt => "Select year") %>
		<%= submit_tag("Display Chart") %>
	<% end %>
	</div>
</center>