<% provide(:title, "Pie Chart Form") %>
<center>
	<h1>Pie Charts</h1>
	<h2>View a driver's results over one season</h2>
	<%= form_tag("/charts/wins_pie_chart", method: "get") do %>
	<div class="form-style-6">
		  <%= label_tag(:driver, "Select driver:") %>
		  <%= collection_select(:driver, :driver_id, Driver.all, :id, :surname, :prompt => true, :selected => 1 ) %>
		  <%= label_tag(:year, "Select year:") %>
		  <%= select_tag(:year, options_for_select({"2017" => "2017", "2016" => "2016", "2015" => "2015", "2014" => "2014",
		    "2013" => "2013", "2012" => "2012"}), :prompt => "Select year") %>
		  <%= submit_tag("Display Chart") %>
		<% end %>
	</div>
</center>