<header class="navbar navbar-fixed-top navbar-inverse">
  <a class="navbar-brand" id="logo">Formula One Statistics</a>
  <nav>
    <div class="container">
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        
       
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Charts
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/piecharts">Pie Charts</a></li>
                    <li><a href="/linecharts">Line Charts</a></li>
                    <li><a href="/columncharts">Column Charts</a></li>
                  </ul>
                </li>
                <li><a href="/twitterfeed">Twitter Live Feed</a></li>
                <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown">API
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/api/drivers.json">Drivers JSON</a></li>
                  <li><a href="/api/results.json">Results JSON</a></li>
                  <li><a href="/api/races.json">Races JSON</a></li>
               </ul>
             </li>
            </ul>
        </div>
    </div>
  </nav> 
</header>